*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    background-color: #f3acb5;
}
.logo{
    width: 40px;
    height: 45px;
    float: left;
    margin-left: 45px;
    margin-top: 5px;
}
  #ulNav{
  width: 300px;
  list-style: none;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  margin-left: 800px;
  }
  .bts {
  float: left;
  margin-left:30px;
  padding: 10px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  }
  .bts:hover{
      color: white;
    background: #F3C7AC;
  }
  .botones2{
    width: 100px;
    height: auto;
    position: relative;
    margin-top: 0px;
    background: #f3acb5;
    float: left;
      list-style: none;
      display: none;
    text-align:center;
    margin-left: 60px;
  }
  .botones2 li{
    margin-top: 0px;
    width: 100%;
    height: 20px;
  }
  .botones2 a{
    color: white;
      text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
  .botones2 li:hover{
      background-color: #F3C7AC;
    margin-top: 0px;
    color: white;
  }
  #menu{
    display: none;
  }
.desplegue{
    display: block;
}
.ocultar{
  display: none;
}
@media screen and (max-width:767px) {

header{
  width: 100%;
  height: 65px;
}
.logo{
  margin-top: 10px;
}
#menu{
  display: block;
  cursor: pointer;
  float: right;
  width: 40px;
  height: 50px;
  cursor: pointer;
  margin-left: 55%;
  margin-top: 5px;
}
#cerrar{
  display: none;
  cursor: pointer;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 55%;
  margin-top: 5px;
}
nav{
  width: 80%;
  min-height: 400px;
  float: left;
  position: absolute;
  flex-direction: column;
  background-color: #f3acb5;
  display: none;
}
#ulNav{
  width: 300px;
  list-style: none;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  }
  .bts {
  float: left;
  margin-left:10px;
  padding: 10px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  }

  .botones2{
    width: 50%;
    height: 10px;
    position: relative;
    margin-top: 20px;
    float: left;
      list-style: none;
      display: none;
    text-align: left;
    margin-left: 0px;
    display: block;
  }
  .botones2 li{
    margin-top: 20px;
    margin-left: 0px;
    width: 20%;
    height: 20px;
  }

}