*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.Contenedor{
  width: 300px;
  height: 425px;
  margin: auto;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.Contenedor img{
  border-radius: 135px;
  width: 100px;
  margin-left: 100px;
  margin-top: 20px;
}
.IS{
  font-family: Arial;
  color: #41A48F ;
  text-align: center;
  margin-top: 40px;
}
.Correo{
  padding-left: 10px;
  margin-left: 50px;
  width: 190px;
  height: 25px;
  margin-top: 35px;
  border-radius: 3px;
  border-color: transparent;
}
.Contrasena{
  padding-left: 10px;
  margin-left: 50px;
  width: 190px;
  height: 25px;
  margin-top: 20px;
  border-radius: 3px;
  border-color: transparent;
}
.selector{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.seleccion {
  width: 20px;
  height: 20px;
  margin-top: 25px;
  margin-left: 50px;
}
.recSeleccion{
  color: White;
  font-family: Arial;
  font-size: 11px;
  margin-top: 29px;
  margin-left: 3px;
}
.iSesion{
  background-color: #0E4C57;
  color: white;
  height: 35px;
  width: 100px;
  border-radius: 7px;
  margin-left: 15px;
  margin-top: 15px;
  border-color: transparent;
}
.verificacion{
  color: white;
  font-family: Arial;
  text-align: center;
  font-size: 11px;
}
.verificacion2{
  color: white;
  font-family: Arial;
  text-align: center;
  font-size: 11px;
}
.crearNC {
  color: white;
  font-family: Arial;
  font-size: 12px;
  margin-left: 155px;
  margin-top: 25px;
}
